*{
    margin: 0px;
}
body {
    color: #777777;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    max-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    line-height: 75px;
    height: 75px;
    width: 960px;
    border: solid 1px #cccccc;
    position: absolute;
    top: 0px;
    z-index: 1;
}
nav {
    text-align: right;
    margin-right: 75px;
}
.portfolio {
    display: inline-block;
    float: left;

}

h1 {
    color: white;
    background-color: #4aaaa5;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 90px;
    z-index: 1;
    
}
main {
    background-color: white;
    width: 75%;
    height: 400px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.portfoliomain {
    max-height: none;
}

a:link, a:visited {
    color: #777777;
    text-decoration: none;
    
}

img {
    float: left;
    padding-right: 40px;
    max-height: 200px;
}

a, p {
    padding: 20px;
    text-align: justify;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-bottom: 60px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    font-size: 50%;
    text-align: center;
    line-height: 75px;
    height: 75px;
}
.port {
    height: 150px;
    width: 315px;
    padding: 5px;
    display: inline-block;
}
.contactmain{
    height: 500px;
    align-content: center;
    margin-bottom: 40px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #54c2bc;
}

.container {
    border-radius: 5px;
    padding: 10px;
}


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}